.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background-color: #AEBBAD;

  border-radius: 10px;
  transition: outline 0.5s;
  transition: background-color 0.2s;

  outline: none;
}

.card--matched {
  outline: 2px solid gold !important;
  pointer-events: none;
}

.card--active {
  pointer-events: none;
  //outline: 2px solid #bfb8b1;
  outline: 2px solid #000;
}

.card__img {
  visibility: hidden;
  transform: scale(0);
  transition: visibility 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}

.card__img--active {
  transform: scale(1);
  visibility: visible;
  pointer-events: none;
}

.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #f6d6a7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #f4f4f4;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #fbe3df;
}
.grass {
  background-color: #e2f9e1;
}
.water {
  background-color: #e0f1fd;
}
