.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background-color: #AEBBAD;

  border-radius: 10px;
  transition: outline 0.5s;
  transition: background-color 0.2s;

  outline: none;
}

.card--matched {
  outline: 2px solid gold !important;
  border-radius: 10px;
  pointer-events: none;
}

.card--active {
  pointer-events: none;
  //outline: 2px solid #bfb8b1;
  outline: 2px solid #000;
}

.card__img {
  padding: 0 5px;
  visibility: hidden;
  transform: scale(0);
  pointer-events: none;
  transition: visibility 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}

.card__img--active {
  transform: scale(1);
  visibility: visible;
  pointer-events: none;
}

.rock {
  background-color: rgba(148, 81, 81, 0.6);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #f6d6a7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #f4f4f4;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #fbe3df;
}
.grass {
  background-color: #e2f9e1;
}
.water {
  background-color: #e0f1fd;
}
.ice {
  background-color: #c7fcec;
}
.ground {
  background-color: #867365;
}
.psychic {
  background-color: #7c759f;
}
.dark {
  background-color: #36373c;
}
.steel {
  background-color: #ddd5ce;
}
.dragon {
  background-color: #e1b7b8;
}
.fighting {
  background-color: #a1d3c2;
}
.flying {
  background-color: #b8dadb;
}