.card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  
}

.card--matched {
  background-color: aqua;
}

.card__img {
  visibility: hidden;
}

.card__img--active {
  visibility: visible;
  pointer-events: none;
}
