.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;

  padding: 5px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}
.game__start-btn {
  position: absolute;
  top: 0;
  font-size: 20px;
  margin-top: -3rem;
  left: 50%;
  padding: 7px 20px;
  transform: translateX(-50%);
  border-radius: 4px;
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  color: #000;
  border: none;
  outline: 1px solid #000;
}

.game__end-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.05);
  z-index: 1000;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .game {
    width: 100vw;
    height: 550px;
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
